<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.team.store.mapper.ProTypeMapper" >
  <resultMap id="BaseResultMap" type="com.team.store.po.ProType" >
    <id column="PT_ID" property="ptId" jdbcType="DECIMAL" />
    <result column="PT_NAME" property="ptName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    PT_ID, PT_NAME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.team.store.po.ProTypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_PRO_TYPE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from T_PRO_TYPE
    where PT_ID = #{ptId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from T_PRO_TYPE
    where PT_ID = #{ptId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.team.store.po.ProTypeExample" >
    delete from T_PRO_TYPE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.team.store.po.ProType">
    <selectKey keyProperty="ptId" resultType="java.lang.Integer" order="AFTER">
      SELECT SEQ_PTYPE_ID.CURRVAL FROM dual
    </selectKey>
    insert into T_PRO_TYPE (PT_ID, PT_NAME)
    values (SEQ_PTYPE_ID.NEXTVAL, #{ptName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.team.store.po.ProType">
    <selectKey keyProperty="ptId" resultType="java.lang.Integer" order="AFTER">
      SELECT SEQ_PTYPE_ID.CURRVAL FROM dual
    </selectKey>
    insert into T_PRO_TYPE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ptId != null" >
        PT_ID,
      </if>
      <if test="ptName != null" >
        PT_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ptId != null" >
        #{ptId,jdbcType=DECIMAL},
      </if>
      <if test="ptName != null" >
        #{ptName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.team.store.po.ProTypeExample" resultType="java.lang.Integer" >
    select count(*) from T_PRO_TYPE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_PRO_TYPE
    <set >
      <if test="record.ptId != null" >
        PT_ID = #{record.ptId,jdbcType=DECIMAL},
      </if>
      <if test="record.ptName != null" >
        PT_NAME = #{record.ptName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_PRO_TYPE
    set PT_ID = #{record.ptId,jdbcType=DECIMAL},
      PT_NAME = #{record.ptName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.team.store.po.ProType" >
    update T_PRO_TYPE
    <set >
      <if test="ptName != null" >
        PT_NAME = #{ptName,jdbcType=VARCHAR},
      </if>
    </set>
    where PT_ID = #{ptId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.team.store.po.ProType" >
    update T_PRO_TYPE
    set PT_NAME = #{ptName,jdbcType=VARCHAR}
    where PT_ID = #{ptId,jdbcType=DECIMAL}
  </update>
</mapper>